.mes-alert{
	width: 84%;
	height: 80px;
	position: fixed;
	top: 60px;
	right: 0;
}
.alarm-content-box{
	font-size: 12px;
	overflow: hidden;
	margin-top: 10px;
}
.alarm-content{
	float: left;
	max-width: 50%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.alarm-click{
	cursor: pointer;
	margin-left: 15px;
}