.main-container{
	width: 980px;
	margin: 20px auto;
}
.get-message{
	width: 800px;
	margin: 10px auto;
	text-align: center;
}
.get-img{
	max-height: 200px;
	max-width: 300px;
	margin: 5px;
}
.img-message{
	font-size: 13px;
	width: 600px;
	text-align: left;
	margin: 20px auto;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(193, 193, 193, .3);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.panel-body {
    padding: 15px;
}
.overfloat-ban{
	overflow: hidden;
}
.override{
	height: 200px;
}